.nav {
    padding: 10px;
    grid-area: nav;
    background-color: cadetblue;
}

a.item:hover {
    padding: 10px;
    color: aquamarine;
    text-decoration: none;
}

a.item {
    padding: 10px;
    color: white;
    text-decoration: none;
}

a.active {
    padding: 10px;
    color: aquamarine;
    text-decoration: none;
}