body{
  background-image: url("https://wallpaperaccess.com/full/3455931.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas:
  "header header"
  "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: header;
  background-color: cadetblue;
}

.header img {
  width: 60px;
  height: 60px;
}

.nav {
  grid-area: nav;
  background-color: cadetblue;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: aquamarine;
  text-decoration: none;
}

.content {
  grid-area: content;
  background-color: slategrey;
}

.content img {
  width: 100%;
}